<footer class="main-color">
  <section class="container">

      <div class="card main-color">
        <div class="row">
        <div class="col-md-4">
          <div  class="text-center">
            <h3>LOCATION </h3>
            <p>2215 John Daniel Drive
              <br/>
              Clark, MO 65243
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div  class="text-center">
            <h3>AROUND THE WEB </h3>
            <div class="icons">
              <span><i class="fa-brands fa-facebook" style="color: #fcfcfc;"></i></span>
              <span><i class="fa-brands fa-twitter" style="color: #ffffff;"></i></span>
              <span><i class="fa-brands fa-linkedin" style="color: #ffffff;"></i></span>
              <span><i class="fa-solid fa-globe" style="color: #ffffff;"></i></span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="text-center">
            <h3>ABOUT FREELANCER </h3>
            <p>Freelance is a free to use, licensed Bootstrap theme
              <br/>
              created by Mahmoud
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>

<div class="website-title container-fluid text-center text-light">
  <p>Copyright © Your Website 2021</p>
      </div>
