<section class="container text-center pt-4">
  <h2>PORTFOLIO COMPONENT</h2>
  <div class="star">
    <span class="span1 me-2"></span>
<span><i class="fa-solid fa-star"></i></span>
    <span class="span1 ms-2"></span>
  </div>
</section>

<div class="container  d-flex align-content-center justify-content-center">
  <div class="inputs p-5">
    <label class="mt-5" for="name">userName:</label>
    <input class="form-control w-100 mt-2" id="name" type="text" placeholder="userName">
    <label class="mt-5" for="age">userAge</label>
    <input class="form-control w-100 mt-2" type="text" name="" id="age" placeholder="userAge">
    <label class="mt-5" for="email">userEmail</label>
    <input class="form-control w-100 mt-2" type="text" name="" id="email" placeholder="userEmail">
    <label class="mt-5" for="pass">userPassword</label>
    <input class="form-control w-100 mt-2" type="text" name="" id="pass" placeholder="userPassword">
    <button type="button">SendMessage</button>
  </div>
</div>
