<section class="container text-center pt-4">
  <h2>PORTFOLIO COMPONENT</h2>
  <div class="star">
    <span class="span1 me-2"></span>
<span><i class="fa-solid fa-star"></i></span>
    <span class="span1 ms-2"></span>
  </div>
   <div class="row g-2 mt-3 mb-3">
    <div class="col-md-4">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <img  class="w-100 rounded-3" src="./assets/route cycle.png" alt="" srcset="">
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
                <img class="w-100rounded-3" src="./assets/route cycle.png" alt="" srcset="">
            </div>
          </div>
        </div>
    </div>

    <div class="col-md-4">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
        <img  class="w-100 rounded-3" src="./assets/port2.png" alt="" srcset="">
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
                <img  class="w-100 rounded-3" src="./assets/port2.png" alt="" srcset="">
            </div>
          </div>
        </div>
    </div>

    <div class="col-md-4">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">
        <img  class="w-100 rounded-3" src="./assets/port3.png" alt="" srcset="">
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
                <img  class="w-100 rounded-3" src="./assets/port3.png" alt="" srcset="">
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-4">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">
        <img  class="w-100 rounded-3" src="./assets/port3.png" alt="" srcset="">
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
                <img  class="w-100 rounded-3" src="./assets/port3.png" alt="" srcset="">
            </div>
          </div>
        </div>
    </div>

    <div class="col-md-4">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
        <img  class="w-100 rounded-3" src="./assets/port2.png" alt="" srcset="">
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
                <img  class="w-100 rounded-3" src="./assets/port2.png" alt="" srcset="">
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-4">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <img  class="w-100 rounded-3" src="./assets/route cycle.png" alt="" srcset="">
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
                <img  class="w-100 rounded-3" src="./assets/route cycle.png" alt="" srcset="">
            </div>
          </div>
        </div>
    </div>
   </div>
</section>
